
*{
    margin: 0;
    padding: 0;
}
header{
    padding: 60px;
    flex-wrap: wrap;
    background: linear-gradient(rgba(216, 226,216),rgb(216, 226, 216));
}
.main_div{
    /* border: 2px solid; */
    height: 300px;
    display: flex;
    margin: 100px auto;
    box-shadow: 0px 0px 20px gray;
    background-color: white;
}

#profile{
    height: 160px;
    width: 120px;
    margin:70px 30px 50px 50px;
    box-shadow: -20px 17px 2px yellow;
}

#name{
    font-size:34px;
    color: rgba(0, 0, 0, 0.842);
}
.socil-links_maindiv{
    flex-wrap: wrap;
    margin-top: 20px;
    width: 300px;
    display: flex;
    justify-content: space-between;
}
.links{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: yellow;
}

#top_designer{
    line-height: 20px;
    margin-bottom: 40px;
    color: rgba(0, 0, 0, 0.767);
}

#last_sec{

    width: auto;
    
}

#txt{
    padding: 10px;
    margin:10px 0px 0px 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 17px;
    letter-spacing:2px;
  
}
.para{
    color: rgba(0, 0, 0, 0.815);
}









